{{#has_content}} <p>Editing {{type}}:      {{/has_content}}
{{#no_content}}  <p>Creating new resource: {{/no_content}}
  <b>{{name}}</b>
  <br/>
  <span style="font-size: 70%;">
    {{#filepath?}}({{filepath}}){{/filepath?}}
  </span>
</p>



<form method="post" action="{{url_submit}}">
  <input type="hidden" name="_method" value="put" />
  <label for="type">Type:</label>
  <select name="type">
    {{{type_options}}}
  </select><br/>
  <label for="content">Content:</label><br/>
  <textarea name="content" cols="80" rows="20">{{raw_content}}</textarea><br/>
  <input type="submit" value="Save" /> <a href="{{url_read}}">Cancel</a>
</form>
