<h1>Dixi</h1>

<p>
  Welcome to <a href="http://github.com/jacius/dixi">Dixi</a>!
</p>

<p>
  Dixi is a wiki app designed for creating and maintaining Ruby
  software documentation (especially library API docs)
  collaboratively. It is powered by
  <a href="http://ruby-lang.org/">Ruby</a>,
  <a href="http://www.sinatrarb.com/">Sinatra</a>, and
  <a href="http://git-scm.com/">Git</a>
  (via <a href="http://github.com/mojombo/grit">Grit</a>).
</p>

<p>
  Dixi is still in early development (as of December 2009), so don't
  expect anything fancy yet. If you want to help make Dixi the most
  kickass documentation system ever, please email
  <a href="mailto:jacius+dixi at gmail.com">jacius+dixi at gmail.com</a>
  or send a message to
  <a href="http://github.com/jacius">jacius on github</a>.
<p>
