{{#has_args}}
  <h2>Args</h2>
  <ol>
    {{#args}}
      <li>
        <h3>{{arg_name}}
          {{#arg_has_default}}
            = {{arg_default}}
          {{/arg_has_default}}
        </h3>
        {{#arg_has_info}}
          {{{arg_info}}}
        {{/arg_has_info}}
        {{#arg_has_type}}
          <p>Type: {{arg_type}}</p>
        {{/arg_has_type}}
      </li>
    {{/args}}
  </ol>
{{/has_args}}
