<h1>{{type_capitalized}} {{name}}</h1>

{{#no_content}}
  <p>This {{type}} does not have any documentation yet.</p>

  <a href="{{url_edit}}">Create {{type}}</a>
{{/no_content}}


{{#has_content}}

  {{#has_synopsis}}
    <h2>Synopsis</h2>
    {{{synopsis}}}
  {{/has_synopsis}}


  {{#base}}
    <h2>Base {{type}}</h2>
    <a href="{{base_url}}">{{base_name}}</a>
  {{/base}}


  {{#has_includes}}
    <h2>Includes (mixin modules)</h2>
    <ul>
      {{#includes}}
        <li><a href="{{url}}">{{name}}</a></li>
      {{/includes}}
    </ul>
  {{/has_includes}}


  {{#has_constants}}
    <h2>Constants:</h2>
    <ul>
      {{#constants}}
        <li>{{name}}</li>
      {{/constants}}
    </ul>
  {{/has_constants}}


  {{#has_cmethods}}
    <h2>Class methods</h2>
    <ul>
      {{#cmethods}}
        <li><a href="{{url}}">{{name}}</a></li>
      {{/cmethods}}
    </ul>
  {{/has_cmethods}}


  {{#has_imethods}}
    <h2>Instance methods</h2>
    <ul>
      {{#imethods}}
        <li><a href="{{url}}">{{name}}</a></li>
      {{/imethods}}
    </ul>
  {{/has_imethods}}


  {{#has_details}}
    <h2>Details</h2>
    {{{details}}}
  {{/has_details}}


  <a href="{{url_edit}}">Edit {{type}}</a><br />
  <a href="{{url_create}}">Create a new resource in this {{type}}</a>
  
{{/has_content}}
