<p>Module: <b>{{resource_name}}</b></p>

{{#no_content}}
  <p>This module does not have any documentation yet.</p>

  <a href="{{url_edit}}">Create module</a>
{{/no_content}}


{{#has_content}}

  {{> read_module_includes }}

  {{> read_module_constants }}

  {{> read_details }}

  {{> read_module_cmethods }}

  {{> read_module_imethods }}

  <a href="{{url_edit}}">Edit module</a>

{{/has_content}}
