{{! This doesn't work! }}
{{! Mustache can't handle recursive partials as of 2009-12-22. }}
<li><a href="{{url}}">{{name}}</a>
{{#has_children}}
  <ul>
    {{#children}}
      {{> read_api_tree_partial }}
    {{/children}}
  <ul>
{{/has_children}}
</li>
