<h1>Resource: {{name}}</h1>

{{#has_content}}
  <h2>Content</h2>
  <pre>{{content}}</pre>

  <a href="{{url_edit}}">Edit this resource</a><br />
  <a href="{{url_delete}}">Delete this resource</a>
{{/has_content}}

{{#no_content}}
  <p>This resource does not have any content yet.</p>

  <a href="{{url_edit}}">Create resource</a>
{{/no_content}}
