<h1>{{resource_type_capitalized}} {{resource_name}}</h1>

{{#no_content}}
  <p>This {{resource_type}} does not have any documentation yet.</p>

  <a href="{{url_edit}}">Create {{resource_type}}</a>
{{/no_content}}


{{#has_content}}

  {{> read_synopsis }}

  {{#has_base}}
    <h2>Base {{resource_type}}</h2>
    {{base}}
  {{/has_base}}

  {{> read_includes }}
  {{> read_constants }}
  {{> read_cmethods }}
  {{> read_imethods }}
  {{> read_details }}

  <a href="{{url_edit}}">Edit {{resource_type}}</a>

{{/has_content}}
