<h1>Project: {{name}}</h1>

{{#has_details}}
  <a id="details" />
  {{{details}}}
{{/has_details}}

{{#has_version}}
  <h2 id="versions">Versions</h2>
  <ul>
    {{#latest_version}}
      <li><strong><a href="{{url}}">{{version}}</a></strong></li>
    {{/latest_version}}
    {{#old_versions_descending}}
      <li><a href="{{url}}">{{version}}</a></li>
    {{/old_versions_descending}}
  </ul>
{{/has_version}}

{{#has_api_tree}}
  <h2 id="api">Current API ({{#latest_version}}{{version}}{{/latest_version}})</h2>
  {{{api_tree_html}}}
{{/has_api_tree}}

<p><a href="{{url_edit}}">Edit this project</a></p>
