<p>{{resource_type_capitalized}}: <b>{{resource_name}}</b></p>

{{#no_content}}
  <p>This method does not have any documentation yet.</p>

  <a href="{{url_edit}}">Create method</a>
{{/no_content}}


{{#has_content}}

  {{> read_synopsis }}

  {{#has_aliases}}
    <p>Aliases:</p>
    <ul>
      {{#aliases}}
        <li>{{alias_name}}</li>
      {{/aliases}}
    </ul>
  {{/has_aliases}}

  {{#has_base}}
    <p>Base method: {{base}}</p>
  {{/has_base}}

  {{> read_method_args }}

  {{> read_details }}

  <a href="{{url_edit}}">Edit method</a>

{{/has_content}}
