<h1>
  {{name}} ({{#not_public}}{{visibility}} {{/not_public}}{{type}})
</h1>

{{#no_content}}
  <p>This {{type}} does not have any documentation yet.</p>

  <a href="{{url_edit}}">Create {{type}}</a>
{{/no_content}}


{{#has_content}}

  {{#has_synopsis}}
    <h2 id="synopsis">Synopsis</h2>
    {{{synopsis}}}
  {{/has_synopsis}}


  {{#has_aliases}}
    <h2 id="aliases">Aliases</h2>
    <ul>
      {{#aliases}}
        <li>{{alias_name}}</li>
      {{/aliases}}
    </ul>
  {{/has_aliases}}


  {{#has_base}}
    <h2 id="base">Base method</h2>
    {{base}}
  {{/has_base}}


  {{#has_args}}
    <h2 id="args">Args</h2>
    <ol>
      {{#args}}
        <li>
          <h3>{{arg_name}}
            {{#arg_has_default}}
              = {{arg_default}}
            {{/arg_has_default}}
          </h3>
          {{#arg_has_info}}
            {{{arg_info}}}
          {{/arg_has_info}}
          {{#arg_has_type}}
            <p>Type: {{arg_type}}</p>
          {{/arg_has_type}}
        </li>
      {{/args}}
    </ol>
  {{/has_args}}


  {{#has_details}}
    <h2 id="details">Details</h2>
    {{{details}}}
  {{/has_details}}


  <a href="{{url_edit}}">Edit {{type}}</a><br />
  <a href="{{url_delete}}">Delete this {{type}}</a>

{{/has_content}}
